.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
}

.event-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}