.sign-up  {
    padding-top: 100px;
    width:600px;
     padding-left:200px; 
    
    
}

.sign-up  button{
   
        background-color:rgb(112, 184, 184);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 16px;

}
.sign-up button:hover {
    opacity: 2;
}
.sign-up input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    
  
  }